<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="row" layout-align="space-between center">
            <div  class="title">Connectors</div>
            <div>&nbsp;</div>
            <div  style="margin-left: 701px;" class="breadcrumb" layout="row" layout-align="start center">
              <md-icon md-font-icon="icon-home" class="s16"></md-icon>
              <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
              <span class="parent">Connectors</span>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
     <div  class="add-task-button" id="addConnector" ng-show="vm.showExistingConnectors" ><button style="float:right;margin-top: 20px;padding-left: 10px;margin-right:30px" class="md-accent md-raised md-button ng-scope md-ink-ripple md-default-theme" type="button"  ng-click="vm.showConnector()" aria-label="Add Connector" >Add Connector<div class="md-ripple-container"></div></button></div>
     <div  class="add-task-button" ng-show="vm.showConnectorConfig"><button style="float:right;margin-top: 20px;padding-left: 10px;margin-right:30px" class="md-accent md-raised md-button ng-scope md-ink-ripple md-default-theme" type="button"  ng-click="vm.showAllConnectors()" aria-label="Add Connector" >All Connectors<div class="md-ripple-container"></div></button></div>
    <div class="content" ng-show="vm.showConnectorConfig" layout="column">

        <div layout="row">

            <!-- FORM WIZARD -->
            <ms-form-wizard flex>
                <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                    <md-tab>
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text"> File format </span>
                            </span>
                        </md-tab-label>

                        <md-tab-body>
                            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row" flex>
                                    <label flex="100" flex-gt-xs="50" style="padding-left: 74px;padding-top: 71px">
                                      Select the file format
                                    </label>
                                    <md-input-container flex="100" flex-gt-xs="50">
                                      <md-radio-group name="fileFormat"   ng-model="vm.formWizard.fileFormat" required>
                                        <md-radio-button name="fileFormat"  value="csv" ng-click="vm.selectRequired()" >CSV</md-radio-button><br>
                                        <md-radio-button   name="fileFormat" value="tsv" ng-click="vm.selectRequired()" > TSV</md-radio-button> <br>
                                        <md-radio-button   name="fileFormat" value="json" ng-click="vm.selectRequired()" > JSON</md-radio-button> <br>
                                        <md-radio-button  name="fileFormat"  value="others" ng-click="vm.selectedOthers()">Others</md-radio-button>
                                      </md-radio-group>
                                      <div ng-messages="wizardStep1.fileFormat.$error"
                                           ng-show="wizardStep1.fileFormat.$touched"
                                           role="alert">
                                        <div ng-message="required">
                                          <span>File format is required.</span>
                                        </div>
                                      </div>
                                    </md-input-container>
                                </div>
                                <div id="customDelimiter"></div>

                            </form>
                        </md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="wizardStep1.$invalid">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep2.$invalid">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text"> Configuration</span>
                            </span>
                        </md-tab-label>

                        <md-tab-body>
                            <form name="wizardStep2" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row" flex>
                                <label flex="100" flex-gt-xs="50" style="padding-left: 71px;padding-top: 64px;"> Select the Source</label>
                                  <md-input-container flex="100" flex-gt-xs="50">
                                  <md-radio-group name="source"   ng-model="vm.formWizard.source">
                                    <md-radio-button name="source"  value="s3" ng-click="vm.showS3()" >S3</md-radio-button>
                                    <md-radio-button   name="source" value="ftp" ng-click="vm.showFTP()"> FTP</md-radio-button>
                                    <md-radio-button   name="source" value="streaming" ng-click="vm.showFTP()"> Streaming</md-radio-button>
                                  </md-radio-group>
                                  </md-input-container>
                                </div>
                                 <div id="fillFtp">
                                   <div  ng-show="vm.ftp" layout="row" layout-gt-xs="column">
                                     <md-input-container flex="100" flex-gt-xs="33"><input type="text" name="hostname" ng-model="vm.formWizard.hostname" placeholder="Host Name / IP / URL" required>
                                       <div ng-messages="wizardStep2.hostname.$error"ng-show="wizardStep2.hostname.$touched"role="alert">
                                         <div ng-message="required"> <span>Host Name is Required</span> </div>
                                       </div>
                                     </md-input-container>
                                     <md-input-container flex="100" flex-gt-xs="33"> <input type="text" name="username" ng-model="vm.formWizard.username" placeholder="User Name" required>
                                       <div ng-messages="wizardStep2.username.$error"ng-show="wizardStep2.username.$touched"role="alert">
                                         <div ng-message="required"> <span>User Name is Required</span>
                                         </div>
                                       </div>
                                     </md-input-container>
                                     <md-input-container flex="100" flex-gt-xs="33"> <input type="password" name="password" ng-model="vm.formWizard.password"placeholder="Password"required ng-focus="vm.removes3()">
                                       <div ng-messages="wizardStep2.password.$error" ng-show="wizardStep2.password.$touched"role="alert">
                                         <div ng-message="required"> <span>Password is Required</span>
                                         </div>
                                       </div></md-input-container> </div>

                                 </div>
                                 <div id="fillS3">
                                   <div ng-show="vm.s3" layout="row" layout-gt-xs="column">
                                     <md-input-container flex="100" flex-gt-xs="33"><input type="text" name="bucketName" ng-model="vm.formWizard.bucketName" placeholder="Bucket Name" required>
                                       <div ng-messages="wizardStep2.bucketName.$error" ng-show="wizardStep2.bucketName.$touched" role="alert"><div ng-message="required"><span>Bucket Name is Required</span></div></div>
                                     </md-input-container>
                                     <md-input-container flex="100" flex-gt-xs="33"><input type="text" name="accessKey" ng-model="vm.formWizard.accessKey" placeholder="Access Key" required md-maxlength="20">
                                       <div ng-messages="wizardStep2.accessKey.$error" ng-show="wizardStep2.accessKey.$dirty"   role="alert" multipl>
                                         <div ng-message="required" >
                                           <span>Access Key is Required</span>
                                         </div>
                                         <div ng-message="md-maxlength" >
                                           <span>Max Length is 20</span>
                                         </div>
                                       </div>
                                     </md-input-container>
                                     <md-input-container flex="100" flex-gt-xs="33"><input type="text" name="accessToken" ng-model="vm.formWizard.accessToken" placeholder="Access Token" required md-maxlength="40" ng-focus="vm.removeftp()">
                                       <div ng-messages="wizardStep2.accessToken.$error" ng-show="wizardStep2.accessToken.$touched" role="alert"><div ng-message="required"><span>Access Token is Required</span></div><div ng-message="md-maxlength"><span>Max Length is 40</span></div></div>
                                     </md-input-container>
                                   </div>
                                 </div>
                            </form>
                        </md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">3</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text"> Mapping Information</span>
                            </span>
                        </md-tab-label>
                        <md-tab-body>
                            <form name="wizardStep3" ms-form-wizard-form novalidate>
                                <div layout="column">
                                   <div style="padding-left:71px">
                                     <label>Custom Object Name</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <md-input-container >
                                     <!-- Use floating label instead of placeholder -->
                                     <input ng-model="vm.objectname" type="text" style="width:200px " placeholder="Enter Custom Object Nmae">
                                   </md-input-container>
                                   </div>

                                  <md-radio-group  style="padding-left:71px;margin-top: 20px" name="fileSelect"  ng-model="vm.formWizard.fileSelect" required>
                                    <md-radio-button name="fileSelect"  value="auto" ng-click="vm.showAutomatic()" >  Do you want to  choose a file and Map the data ?</md-radio-button><br>
                                    <md-radio-button name="fileSelect" value="manual" ng-click="vm.showManual()" > Do you want to map it Manually ? </md-radio-button> <br>
                                  </md-radio-group>
                                </div>
                                 <div layout="column"  ng-show="vm.formWizard.isManual" style="margin-top: 20px">
                                    <div layout="row" layout-align="space-around end">
                                      <div>Map the Fields </div>
                                      <div><md-button class="cta-button md-raised md-accent" ng-click="vm.addField()">Add Field</md-button></div>
                                    </div>
                                   <div layout="column" id="mapList">
                                   </div>
                                 <div>
                                 </div>
                                 </div>
                                  <div layout="column"  ng-show="vm.formWizard.isAutomatic">
                                    <div style="padding-left:71px;margin-top: 10px"> Select the File to Upload  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <input type="file"  on-read-file="vm.showContent($fileContent)" id="fileInput" required></div>
                                    <div layout="column" id="autoMap">
                                      <div style="margin-top: 30px;margin-left: 350px;"> <h2>Mapping Fields with Data Types </h2></div>
                                    </div>
                                  </div>

                            </form>
                        </md-tab-body>
                    </md-tab>
                     <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid" >
                    <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep4.$invalid">4</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep4.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Schedule</span>
                            </span>
                    </md-tab-label>
                    <md-tab-body>
                      <form name="wizardStep4" ms-form-wizard-form novalidate>

                        <div layout="column" style="margin-left:71px">
                         <div style="margin-bottom: 20px"> Choose Start Date</div>
                          <div> <md-datepicker ng-model="vm.formWizard.startDate" md-placeholder="Enter Start date"></md-datepicker></div>
                          <div ng-messages="wizardStep4.startDate.$error" ng-show="wizardStep4.startDate.$touched" role="alert"><div ng-message="required"><span> Start Date is Required</span></div></div>
                          <div style="margin-bottom: 20px;"> Choose End Date</div>
                          <div> <md-datepicker ng-model="vm.formWizard.endDate" md-placeholder="Enter End date"></md-datepicker></div>
                          <div ng-messages="wizardStep4.endDate.$error" ng-show="wizardStep4.endDate.$touched" role="alert"><div ng-message="required"><span> End Date is Required</span></div></div>
                        </div>
                      </form>
                    </md-tab-body>
                  </md-tab>
                </md-tabs>

                <div class="navigation" flex layout="row" layout-align="center center">
                    <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                               ng-disabled="msWizard.isFirstStep()">
                        Previous
                    </md-button>
                    <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                    </div>
                    <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                               ng-hide="msWizard.isLastStep()"
                               ng-disabled="msWizard.currentStepInvalid()">
                        Next
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="vm.sendForm(); msWizard.resetForm();" ng-show="msWizard.isLastStep()"
                               ng-disabled="msWizard.formsIncomplete()">
                        Send
                    </md-button>
                </div>

            </ms-form-wizard>
            <!-- / FORM WIZARD -->

        </div>

    </div>
    <div class="content" ng-show="vm.showExistingConnectors" layout="column">
      <div class="white-bg md-whiteframe-4dp">
           <div style="margin-left:240px;width:500px;line-height:100px" ng-hide="vm.fillTable"><h1>No Connectors Configured yet, Create One!</h1></div>
        <div ng-show="vm.fillTable">
          <table   id="sourceTable" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
            <thead>
            <tr>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Custom Object Name</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Source</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Format</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Created At</span>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="connector in ::vm.connectors">
              <td> <a href="/rhea/source/{{ connector._id}}">{{ connector.objectname }}</a></td>
              <td>{{ connector.source }}</td>
              <td>{{ connector.format }}</td>
              <td>{{ connector.createdAt }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- / CONTENT -->

</div>
